**/data/raw/
**/data/clean/
**/data/trimmed/
*.fna
*.fastq.gz
*.fastq
*.fq
*.bam
*.sam
*.gz
*.zip

# Ignore intermediate data for assignment 07
assignments/assignment_07/data/clean/*
assignments/assignment_07/data/raw/*

# Allow SraRunTable.csv to be tracked
!assignments/assignment_07/data/SraRunTable.csv

# Ignore other assignment data directories
assignments/assignment_03/data/*.fna
assignments/assignment_05/data
