assignments/assignment_03/data/*.fna
assignment/assignment_05/data
data/
data/raw/
data/trimmed/
*.fastq.gz
*.fastq
*.trimmed.fastq.gz
assignment/assignment_07/data/*
assignment/assignment_07/data
*.sam
*.bam
*.fq
*.gz
*.zip
